<table>
  <tr>
    <th>企業</th>
    <th></th>
  </tr>
  <% @branches.each do |branch| %>
    <tr>
      <td><%= "#{branch["company_name"]} #{branch["branch_name"]}" %></td>
      <td>
        シフトを提出する
        <% Branch.find_by(id: branch["branch_id"]).periods_before_deadline.each do |period| %>
        <ul>
          <li><%= link_to period.start_to_end, new_shift_submission_path(period.id) %></li>
        </ul>
        <% end %>
      </td>
      <% if branch["admin"] == 1 %>
        <td><%= link_to  "企業ページへ", branch_path(branch["branch_id"]) %></td>
      <% end %>
    </tr>
  <% end %>
</table>