<nav class="navbar navbar-light">
  <ul class="navbar-nav flex-column">
    <li class="nav-item"><%= link_to "企業トップ", branch_path(@branch), class: "nav-link text-dark" %></li>
    <li class="nav-item">
      <%= link_to "シフトを確認する", "#", class: "nav-link disabled text-dark" %>
      <ul>
        <% @branch.periods_before_end_date.each do |period| %>
          <li class="list-unstyled nav-item"><%= link_to period.start_to_end, periods_branch_path(@branch, period.id), class: "nav-link text-dark" %></li>
        <% end %>
      </ul>
    </li>
    <li class="nav-item"><%= link_to "従業員を追加す", add_employee_branch_path(@branch), class: "nav-link text-dark" %></li>
  </ul>
</nav>