<% provide(:title, '従業員の追加') %>
<p class="lead">追加する従業員のメールアドレスを入力してください。</p>

<%= form_with url: send_email_branch_path(@branch), local: true do |f| %>
  <div class="form-group row">
    <%= f.label :email, "メールアドレス", class: "#{col_size_for_form_label}" %>
    <%= f.email_field :email, class: "#{col_size_for_form_input} form-control" %>
  </div>
  
  <%= f.submit "従業員を登録する", class: "btn btn-primary" %>
<% end %>