<h1><%= @branch.company_name %></h1>

<%= form_with url: relationships_path, local: true do |f| %>
  <%= render "relationships/hidden_params" %>
  
  <%= f.submit "#{@branch.company_name}へ従業員登録する", class: "btn btn-primary" %>
<% end %>