<h2>マスターユーザーの登録</h2>
<h3>ユーザー情報を入力してください</h3>

<%= form_with(url: company_registrations_path, scope: :user, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  
  <%= render "shared/new_user_registration_form", form: f %>
  
  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>
