<div class="field">
  <%= form.label :email, "Eメール" %>
  <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= form.label :password, "パスワード" %>
  <%= form.password_field :password, autocomplete: "current-password" %>
</div>