<h2>シフト確認</h2>
<h3>企業：<%= @branch.company_name %></h3>
<h3>期間：<%= @period.start_to_end %></h3>

<%= render 'shift_submissions/shift_requests', shift_requests: @shift_submission.shift_requests.all.order(:date) %>

<% if @period.before_deadline? %>
  <%= render "shift_submissions/add_shift_form" %>
<% end %>