<h2>シフト確認</h2>
<h3>期間：<%= @period.start_to_end %></h3>

<% if @shift_submission.shift_requests.all.present? %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>日付</th>
        <th>開始時間</th>
        <th>終了時間</th>
      </tr>
    </thead>
    <tbody>
      <% @shift_submission.shift_requests.all.order(:date).each do |shift_request| %>
        <tr>
          <td><%= shift_request.date.strftime("%m/%d") %></td>
          <td><%= shift_request.start_time_of_30_hours_system %></td>
          <td><%= shift_request.end_time_of_30_hours_system %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  この期間の出勤可能なシフトは提出されていません。
<% end %>