// /* mixins, variables, etc. */

// $base-color: #d0e39b;
// $main-color-1: #7acbe1;
// $main-color-2: #ffffff;
// $accent-color: #009bc6;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

td, th {
  text-align: center;
}

// サイドバー
aside {
  background-color: #fafafa;
}

aside ul, header ul {
  padding-inline-start: 20px;
}

table {
  background-color: #ffffff;
}
