<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to '<アルバイト管理システム>', root_url, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'コンタクト', '#' %></li>
        <li><%= link_to 'ログイン', '#' %></li>
      </ul>
    </nav>
  </div>
</header>